//====== Shared Styles ======//
.section-heading {
  text-align: center;
  margin-top: $large-space;
  margin-bottom: $medium-space;

  @media #{$tablet} {
    font-size: 3rem;
  }

  @media #{$desktop} {
    margin-top: $large-space * 2;
  }
}

.section-subheading {
  margin-bottom: $small-space;
}

.h-scroll-container {
  overflow-x: scroll;
  overflow-y: hidden;
  @include flexbox(null, flex-start, center, null);
  -webkit-overflow-scrolling: touch;

  .h-scroll-item {
    flex: none;
    width: 100%;
  }
}

.text-grid {
    @media #{$desktop} {
      @include flexbox(row, center, flex-start);
    }
}

//====== Section Styles ======//
.hero-section {
  color: white;

  .hero-heading, .hero-subheading {
    text-align: center;
  }

  .hero-subheading {
    font-weight: 500;
    @media #{$tablet} {
      margin-bottom: $medium-space;
    }
  }

  .hero-buttons {
    margin-bottom: $medium-space;

    @media #{$desktop} {
      @include flexbox(row, center);
    }

    button {
      width: 50%;
      min-width: 210px;

      @media #{$tablet} {
        width: 210px;
      }
      @media #{$desktop} {
        margin-bottom: 0;
        &.btn-primary {
          margin-right: $normal-space;
        }
      }
    }
  }

  .hero-img img {
    display: block;
    margin: 0 auto;
  }

  &::after {
    content: '';
    background: url('../assets/img/header-bg.png') center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -#{$large-space};
    height: 100%;
    max-height: 780px;
    width: 100%;
    z-index: -1;

    @media #{$tablet} {
      max-height: 830px;
    }
  }
}

.how-section {
  // display: none;
  .how-step {
    position: relative;
    margin-bottom: $large-space;

    @media #{$desktop} {
      @include flexbox(null, space-between);
      margin-bottom: $large-space * 2;
    }

    .text-container {
      @media #{$desktop} {
        max-width: 40%;
      }
    }

    figure {
      width: 60%;

      @media #{$tablet} {
        width: 50%;
      }
    }


    img {
      @media #{$desktop} {
        max-width: 100%;
      }
    }

    .how-step-number {
      position: absolute;
      top: -16vh;
      right: -8vh;
      transform: translateY(-20%);
      text-align: right;
      letter-spacing: -5vw;
      font-size: 50vh;
      line-height: 43vh;
      color: $tipsease-green;
      z-index: -1;
      opacity: .2;

      @media #{$tablet} {
        font-size: 60vh;
        letter-spacing: -3vh;
      }

      @media #{$desktop} {
        font-size: 56vh;
        letter-spacing: normal;
        right: 8vh;
        text-align: left;
      }
    }

    &:nth-child(odd) {
      img {
        float: right;
      }

      .how-step-number {
        left: initial;
        text-align: left;
        left: -8vh;
        margin: 0;

        @media #{$desktop} {
          left: 8vh;
          text-align: right;
        }
      }

      figure {
        float: right;
        @media #{$desktop} {
          order: -1;
        }
      }
    }
  }
}

.features-section {
  background: linear-gradient(45deg, #8251f5 0%,#36d995 90%);
  color: white;

  @media #{$desktop} {
    background: unset;

    &::after {
      content: '';
      width: 100%;
      height: 557px; // temporary solution
      position: absolute;
      display: block;
      z-index: -1;
      background: linear-gradient(45deg, #8251f5 0%,#36d995 100%);
    }
  }

  .features-wrapper {
    margin-bottom: $large-space;

    @media #{$desktop} {
      @include flexbox(row);
    }

    .feature-container {
      margin-bottom: $medium-space;

      @media #{$desktop} {
        @include flexbox(column);
        margin-bottom: 0;
        margin-right: $medium-space;
        padding: 0 $normal-space;

        &:last-child {
          margin-right: 0;
        }
      }

      h3, p {
        text-align: center;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        @media #{$desktop} {
          max-width: 100%;
        }
      }

      figure {
        max-width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @media #{$desktop} {
          max-width: 100%;
        }

        img {
          display: block;
          margin: 0 auto;
          width: 30%;

          @media #{$desktop} {
            width: 50%;

          }
        }
      }
    }
  }
}

.process-section {
  .h-scroll-container {
    padding: $medium-space 0;
    padding-left: 8%;

    @media #{$desktop} {
      @include flexbox(column, null, center);
      overflow-x: visible;
      overflow-y: hidden;
      padding: 0 $medium-space;
      padding-bottom: $medium-space;
      min-height: 500px;
      max-width: calc(60% + #{$medium-space});
      margin-bottom: $medium-space;
    }

    .h-scroll-item {
      width: 300px;
      margin-right: 5.5rem;
      text-align: center;

      @media #{$desktop} {
        margin-right: 0;
        margin-bottom: $normal-space;
      }

      &.select-method {
        @media #{$desktop} {
          height: unset;
        }
      }


      figcaption {
        font-size: 2.5rem;
        line-height: 3.5rem;
        font-weight: 500;
      }
    }

    .process-circle {
      border-radius: 100%;
      @include flexbox(column, center, center, null);
      background-color: $placeholder-grey;
      height: 300px;
      box-shadow: 0 .5rem 3.5rem rgba(0,0,0,0.3);
      font-weight: 500;
      padding: $normal-space;

      @media #{$desktop} {
        align-self: flex-start;

        &.customer {
          align-self: flex-end;
        }

        &.you {
          align-self: flex-start;
        }

        &.both {
          align-self: center;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      img {
        max-width: 70%;
        max-height: 100%;
        display: none;
      }

      &.you {
        background-color: $tipsease-green;
        animation: float 3s ease-in-out infinite;
      }

      &.customer {
        background-color: $tipsease-purple;
        color: white;
        animation: float 2.9s ease-in-out infinite;
      }

      &.both {
        background: linear-gradient(45deg, #8251f5 0%,#36d995 90%);
        color: white;
        animation: float 3.1s ease-in-out infinite;
      }
    }
  }
}

.pricing-section {
  position: relative;
  background-color: $tipsease-green;
  z-index: 10;

  @media #{$desktop} {
    background-color: unset;
  }

  .price-card {
    width: 60%;
    max-width: 340px;
    min-width: 190px;
    padding: $medium-space;
    margin-bottom: $large-space;
    z-index: 10;
    text-align: center;
    background-color: white;

    h1 {
      font-size: 5rem;
    }

    .price-caption {
      font-size: 1.2rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-image: url('../assets/img/1488285.png');
    background-position: 0 calc(50% + #{$medium-space});
    background-size: 20vh;
    background-repeat: repeat-x;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    background-color: $tipsease-green;
    z-index: -2;
    @media #{$desktop} {
      height: 542px;
      width: 100vw;
    }
  }
}

.download-section {
  .section-heading {
    margin-bottom: $normal-space;
  }

  .download-btn-container {
    margin-bottom: $large-space;
    width: 100%;
    @include flexbox(row, center, null, null);


    a img {
      max-height: 5rem;

      @media #{$tablet} {
        max-height: 6rem;
      }
    }

    .app-store-btn {
      margin-right: $normal-space;
    }
  }
}

.testimonials-section {
  .h-scroll-container {
    background-color: $tipsease-green;
    &::-webkit-scrollbar {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      width: 100vw;
      height: 400px;
      z-index: -1;
      background-color: $tipsease-green;
    }

    @media #{$mobile-large} {
      height: 400px;
    }
  }

  .h-scroll-item {
    border-right: 1px solid rgba(0,0,0,0.1);
    height: 100%;

    @media #{$mobile-large} {
      @include flexbox(row);
      border: unset;
    }
  }

  figure {
    height: (100vw / 4) * 3;
    margin-bottom: $medium-space;

    @media #{$mobile-large} {
      height: 100%;
      width: 300px;
      margin-bottom: 0;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .quote-text-container {
    max-width: 88%;
    margin: 0 auto;
    margin-bottom: $large-space;

    @media #{$mobile-large} {
      margin: auto;
      height: max-content;
      max-width: 600px;
      padding-left: $medium-space;
      padding-right: $medium-space;
    }

    .quote-mark {
      font-size: 6.4rem;
      line-height: 7.7rem;
      font-weight: 900;
    }

    .quote-text {
      font-size: 3rem;
      font-weight: bold;
    }

    .quote-person, .quote-occupation {
      display: inline;
    }

    .quote-person {
      font-weight: bold;
    }

    .quote-occupation {
      font-weight: normal;
    }
  }
}

.stats-section {
  position: relative;
  @include flexbox(row, null, null, wrap);
  padding: $large-space 0;
  overflow: visible;
  color: white;

  .stat-container {
    width: 50%;

    .stat {
      font-size: 3rem;
      text-align: center;
    }

    .stat-title {
      font-size: 1.3rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: $large-space;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    height: 100%;
    background: url('../assets/img/stats-bg.png') center center no-repeat;
    background-size: 100% 100%;
    z-index: -2;
  }
}

.cta-section {
  .section-heading {
    margin-bottom: $normal-space;
  }
  button {
    width: 100%;
    margin-bottom: $large-space;

      @media #{$mobile-large} {
        width: 70%;
      }

    @media #{$tablet} {
      width: 210px;
    }
  }
}

footer {
  @include flexbox(column, null, center, null);
  background-color: darken(desaturate($tipsease-purple, 15%), 10%);
  color: white;
  padding-bottom: $large-space;

  @media #{$desktop} {
    padding-left: $normal-space;
    padding-right: $normal-space;
  }

  .footer-btns-container {
    @include flexbox(null, space-between, center, null);
    margin-top: $medium-space;
    margin-bottom: $large-space;

    .footer-logo {
      content: url('../assets/img/logo-white.png');
      height: 30px;
    }

    .social-icon-container {
      width: initial;

      .social-icon {
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: none;
        background-color: white;
        margin-left: $small-space;
        color: black;

        &:hover, &:active {
          background-color: rgba(255,255,255,0.8);
        }

        &.twitter::before {
          content: url('../assets/img/twitter-black.svg');
        }

        &.facebook::before {
          content: url('../assets/img/facebook-black.svg');
        }

        &.linkedin::before {
          content: url('../assets/img/linkedin-black.svg');
        }
      }
    }
  }

  .copyright {
    text-align: center;
    margin-bottom: $small-space;
  }

  .copyright, .footer-link {
    font-size: $small-space;
    font-weight: 500;
  }

  .footer-links-container {
    text-align: center;

    .footer-link {
      text-decoration: underline;
      margin-right: $small-space / 2;
    }
  }
}
