header {
  position: absolute;
  width: 100%;
  height: 7rem;
  @include flexbox(null, null, center);

  .row {
    @include flexbox(null, space-between, null);

    .header-menu-icon {
      width: 3rem;
      height: 3rem;
      content: url('/assets/img/633647.svg');
      cursor: pointer;
    }

    .header-logo {
      height: 3rem;
      max-width: 30%;
      content: url('/assets/img/ls.png');

      img {
        position: absolute;
        height: 100%;
      }
    }
  }
}
