//====== Shared Styles ======//
.header-menu-icon {
  width: 3rem;
  height: 3rem;
  content: url('/assets/img/menu-white.svg');
  cursor: pointer;
  display: block;

  @media #{$desktop} {
    display: none;
  }
}

.header-logo {
  max-width: 50%;
  max-height: 60%;
  content: url('/assets/img/logo-white.png');
}

//====== Section Styles ======//
header {
  position: absolute;
  width: 100%;
  height: 7rem;

  .header-content-container{
    height: 100%;
    max-width: $desktop-width;
    margin: 0 auto;
    @include flexbox(row, space-between, center);

    .desktop-nav {
      width: 50%;
      text-align: right;
      display: none;

      a {
        color: white;
        margin-left: $medium-space;
      }

      @media #{$desktop} {
        display: block;
      }
    }
  }

}

#mobileMenu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: none;

  .top-container {
    height: $large-space;
    @include flexbox(row, space-between, center);

    .header-logo {
      content: url('/assets/img/logo-black.png');
    }

    .close-menu-icon {
      height: 2.5rem;
      padding: 2.5px;
      content: url('/assets/img/close.svg');
    }
  }

  nav {
    position: relative;
    top: 50%;
    transform: translateY(-80%);

    a {
      display: block;
      max-width: 40%;
      margin: 0 auto;
      text-align: center;
      font-size: 2.4rem;
      margin-bottom: $medium-space;
      color: black;
    }
  }

  button {
    position: absolute;
    bottom: $normal-space;
    left: 50%;
    transform: translateX(-50%);
  }
}
