//====== SPACING VARIABLES ======//
$small-space: 10px;
$normal-space: 20px;
$medium-space: 40px;
$large-space: 70px;

//====== COLOR VARIABLES ======//
$tipsease-green: #36D995;
$tipsease-purple: #8251F5;
$placeholder-grey: #D8D8D8;
$placeholder-light-grey: #F3F3F3;

//====== MEDIA QUERY VARIABLES ======//
$mobile-large: 'screen and (min-width: 600px)';
$tablet: 'screen and (min-width: 800px)';
$desktop: 'screen and (min-width: 980px)';
